@font-face {
    font-family: "Adineue";
    src: url("../fonts/adineueprocyr_lightweb.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Adineue";
    src: url("../fonts/adineueprocyr_boldweb.ttf") format("truetype");
    font-weight: 600;
}

//sf 

@font-face {
    font-family: "SF UI Display";
    src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: "SF UI Display";
    src: url('../fonts/SF-UI-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: "SF UI Display";
    src: url('../fonts/SF-UI-Display-Bold.ttf') format('truetype');
    font-weight: 700;
}