.promo {
    background: url('../img/gates-promo.jpg') center center / cover no-repeat;
    padding: 95px 0;
    min-height: 324px;
    &__title {
        color: #F4001D;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            width: 100%;
            background: #A0A0A0;
            bottom: -11px;
            left: 0;
        }
    }
    &__subtitle {
        padding: 10px 0;
        color: #212529;
    }
    &__block {
        display: grid;
        grid-template-rows: repeat(2,auto);
        align-items: center;
        align-content: space-between;
        padding: 10px;
        max-width: 670px;
        width: max-content;
        min-height: 134px;
        left: 100px;
        top: 221px;
        background: rgba(255, 255, 255, 0.8);
    }
}