.collab {
    background: url('../img/collab.jpg') center center / cover no-repeat;
    min-height: 595px;
    color: #FFF;
    padding: 135px 0 100px;
    &__title {
        font-size: 40px;
        line-height: 53px;
    }
    &__text {
        margin-top: 28px;
        max-width: 725px;
        font-size: 17px;
        line-height: 30px;
    }
}

@media (max-width: 1023px) { //from 768px
    .collab {
        min-height: 400px;
        padding: 90px 0 80px;
    }
}

@media (max-width: 575px) { //from 425px
    .collab {
        min-height: auto;
        padding: 50px 0 45px;
        &__title {
            font-size: 34px;
            line-height: 38px;
        }
        &__text {
            font-size: 18px;
            margin-top: 18px;
        }
    }
}