.equipment {
    padding: 35px 0 70px;
    background: #EFEFEF;
    &__title {
        font-size: 27px; 
        line-height: 36px;
    }
    &__descr {
        margin-top: 20px;
        max-width: 740px;
        font-size: 17px;
        line-height: 30px;
        color: #555555;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 380px);
        grid-auto-rows: minmax(84px, auto);
        gap: 2px;
    }
    &__item {
        padding: 20px 40px 20px 20px;
        background: rgb(255, 255, 255);
        &-text {
            font-size: 14px;
            line-height: 25px;
            color: #555555;
        }
    }
    &__card {
        padding: 40px 40px 20px 20px;
        width: 310px;
        min-height: 305px;
        background: #C1DEEE;
        &-title {
            font-size: 24px;
            line-height: 32px;
        }
        &-descr {
            margin-top: 20px;
            font-size: 17px;
            line-height: 30px;
            color: #555555;
        }
    }
    &__row {
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        gap: 50px;
    }
}

@media (max-width: 1199px) { //from 1024px
    .equipment {
        &__grid {
            grid-template-columns: repeat(2,300px);
        }
        &__item {
            &-text {
                br {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1023px) { //from 768px
    .equipment {
        padding: 20px 0 50px;
        &__grid {
            grid-template-columns: repeat(2,1fr);
        }
        &__item {
            &-text {
                br {
                    display: none;
                }
            }
        }
        &__row {
            flex-wrap: wrap;
            gap: 30px;
        }
        &__card {
            padding: 30px 40px 20px 20px;
            width: 100%;
            min-height: auto;
            &-descr {
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 575px) { //from 425px
    .equipment {
        &__grid {
            grid-template-columns: 1fr;
        }
    }
}