* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Adineue', sans-serif;
}

.btn {
    padding: 8px 20px;
    font-size: 13px;
    background: #EFEFEF;
    font-weight: 600;
    text-decoration: none;
    color: #48484A;
    &:hover {
        color: #48484A;
    }
}

.title {
    font-size: 35px;
    line-height: 47px;
    color: #000;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

