.product {
    &__grid {
        margin: 0 auto;
        margin-top: 50px;
        max-width: 1440px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 360px;
        place-content: center;
    }
    &__item {
        position: relative;
        overflow: hidden;
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-title {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            background: linear-gradient(to top, rgba(0, 83, 128, 0.7), rgba(0, 83, 128, 0));
            padding: 43px 45px;
            font-size: 35px;
            line-height: 47px;
            color: rgb(255, 255, 255);
            text-decoration: none;
            transform: translateY(30%);
            opacity: 0;
            transition: all .5s;
            // background-size: 101% 101%;
            // background-repeat: no-repeat;
            // background-position: center 720px;
            // transition: transform .5s, background-position .2s ease-out, color .5s;
            &:hover {
                opacity: 1;
                transform: translateY(0);
                color: rgb(255, 255, 255);
                // background-position: center 0;
            }
        }
    }
    &__text {
        margin-top: 70px;
        font-size: 27px;
        line-height: 36px;
        max-width: 860px;
    }
    &__models {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 480px);
        grid-auto-rows: minmax(84px, auto);
        &-item {
            display: grid;
            align-items: center;
            padding: 18px 20px 22px;
            width: 100%; height: 100%;
            border: 1px solid #E8E8E8;
        }
        &-title {
            color: #555555; font-weight: 700;
            font-size: 14px; line-height: 25px;
        }
        &-descr {
            color: #555555; font-weight: 400;
            font-size: 14px; line-height: 25px;
        }
    }
}

@media (max-width: 1199px) { //from 1024px
    .product {
        &__models {
            grid-template-columns: repeat(2,460px);
        }
        &__grid {
            grid-auto-rows: 315px;
        }
        &__item {
            &-title {
                padding: 20px 24px;
                font-size: 30px;
                line-height: 37px;
            }
        }
        &__text {
            font-size: 24px;
            line-height: 30px;
            max-width: 750px;
        }
    }
}

@media (max-width: 1023px) { //from 768px
    .product {
        &__grid {
            grid-auto-rows: 210px;
        }
        &__item {
            &-title {
                opacity: 1;
                transform: translateY(0);
                font-size: 26px;
                line-height: 30px;
                padding: 20px;
            }
        }
        &__text {
            margin-top: 40px;
        }
        &__models {
            grid-template-columns: repeat(2,370px);
        }
    }
}

@media (max-width: 767px) { //from 576px
    .product {
        &__models {
            grid-template-columns: repeat(2,1fr);
        }
    }
}

@media (max-width: 575px) { //from 425px
    .product {
        &__grid {
            margin-top: 35px;
            grid-template-columns: 1fr;
            grid-auto-rows: 220px;
        }
        &__text {
            margin-top: 20px;
            font-size: 22px;
            line-height: 28px;
        }
        &__models {
            margin-top: 22px;
            grid-template-columns: 1fr;
        }
    }
}