.promo {
    padding: 38px 0 60px;
    &__title {
        max-width: 630px;
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &-second {
        margin-top: 30px;
    }
    &__grid {
        display: grid;
        grid-template-columns: 970px 350px;
        grid-template-rows: 350px;
        column-gap: 20px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .tns-outer {
        position: relative;
        .tns-nav {
            position: absolute;
            left: 20px;
            top: 10px;
            z-index: 10;
            button {
                width: 8px; height: 8px;
                border-radius: 100%;
                outline: none;
                border: none;
                background-color: rgba(0, 0, 0, 0.5);
                &.tns-nav-active {
                    background-color: rgba(0, 0, 0, 1);
                }
                &:not(:last-child) {
                    margin-right: 8px;
                }
            }
        }
    }
    &__card {
        height: 350px;
        padding: 70px 20px 35px;
        background: #C1DEEE;
        &-title {
            font-size: 30px;
            line-height: 35px;
        }
        &-descr {
            margin-top: 30px;
            font-size: 16px;
            line-height: 22px;
            p {
                font-family: 'SF UI Display', sans-serif;
                font-weight: 400;
            }
        }
        &-link {
            margin-top: 30px;
            display: block;
            font-size: 13px;
            line-height: 19px;
            color: #48484A;
            font-weight: 600;
            text-decoration: none;
            &:hover {
                color: #48484A;
            }
        }
    }
}

@media (max-width: 1439px) { //from 1200px
    .promo {
        &__grid {
            grid-template-columns: 1fr 350px;
        }
    }
}

@media (max-width: 1023px) { //from 768px
    .promo {
        &__path {
            width: 360px;
        }
    }
}

@media (max-width: 767px) { //from 576px
    .promo {
        padding: 25px 0 35px;
        &__path {
            display: none;
        }
        &__grid {
            grid-template-columns: 1fr 290px;
        }
    }
}


@media (max-width: 575px) { //from 425px
    .promo {
        &__grid {
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            row-gap: 15px;
        }
        &-second {
            margin-top: 15px;
        }
    }
}

@media (max-width: 424px) { //from 375px
    .promo {
        &__card {
            height: 330px;
            &-title {
                font-size: 28px;
                line-height: 32px;
            }
            &-descr {
                margin-top: 25px;
            }
        }
    }
}